.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.icon {
  width: 8%;
}

.title{
  font-size: large;
}

.preface {
  font-size: medium;
}

.prefaceBG {
    background-color: #282c34;
    color: white;
    height: 8vh;
    padding-left: 10%;
    padding-right: 10%;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 4%;
  background-color: #282c34;
  height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  color: white;
}

.App-link {
  color: #61dafb;
}

img {
  width: 25%;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2rem;
}

.leftside, .rightside {
  height: 42.5vh;
  width: 100%;
}

@media screen and (min-width:768px){
  .leftside, .rightside {
    height: 77vh;
  }
  img{
    width: 25%;
  }

  .title{
    font-size: xx-large;
  }
  .preface{
    font-size: larger;
  }

}

.leftside {
  background: red;
}

.rightside {
  background: blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
