hr {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  border-top: 2px solid ;
}

img {
  width: 13%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: none;
}

.App-link {
  color: #61dafb;
}

.personName {

  font-size: medium;
  font-weight: bolder;
}

.blurry-text {
  filter: blur(4px);
}

.content {
  font-weight: bolder;
  font-size: smaller;
  user-select: none;
  word-break: break-word;
  white-space: pre-wrap;
}

.bio-text {
  padding-left: 5%;
  padding-right: 5%;
}

.icon {
  width: 8%;
}

.title{
  font-size: large;
}

.preface {
  font-size: medium;
  font-weight: bolder;
}

.prefaceBG {
    background-color: #78938A;
    color: white;
    height: 7vh;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0.5;
}

.App-footer {

    padding-left: 47%;
}

.footer-colour {
    background: #78938A;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2rem;
}

.leftside, .rightside {
  height: 37vh;
  width: 100%;
  
}

.celebChosen {
  border: 5px solid lime;
}

.footer-leftside, .footer-rightside {
  height: 6vh;
  width: 100%;
  padding-bottom: 3%;
}

.circle {
    border: 0.1875em solid #0F1C3F;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 6vh;
    width: 6vh;
}

.circle:hover{
  border-color: cyan;
}

.heart-img {
  height: 90%;
  padding-top: 20%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

.temp-space {
  width: 100%;
  height: 7vh;
  background:  #C8E3D4;
}


@media screen and (min-width:768px){
  .leftside, .rightside {
    height: 56vh;
  }
  .footer-leftside, .footer-rightside {
    height: 12vh;
    padding-bottom: 5%;
    bottom: 0;
  }

  .App-footer {
    
    padding-left: 47%;

  }
  .footer-colour{
    background: linear-gradient(to right, #D9F8C4 50%, #C8E3D4 50%);
  }

  .temp-space {
    width: 100%;
    height: 10vh;
    background:  linear-gradient(to right, #D9F8C4 50%, #C8E3D4 50%);
  } 

  .circle {
      border: 0.1875em solid #0F1C3F;
      border-radius: 50%;
      box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
      height: 10vh;
      width: 10vh;
  }

  img{
    width: 20%;
  }

  .title{
    font-size: xx-large;
  }
  .preface{
    font-size: larger;
  }

  .App-header {
    padding: 4%;
    background-color: #78938A;
    height: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    color: white;
  }
  .content {
    font-size: medium;
  }



}

.leftside {
  background: #D9F8C4;
}

.rightside {
  background: #C8E3D4;
}

.footer-leftside {
  background: #D9F8C4;
}

.footer-rightside {
  background: #C8E3D4;  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
